body {
  margin: 0;
  font-family: Arial;
  background: #fff0f5; /* light pink background */
  color: #333;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #ffb6c1; /* soft pink */
}

nav h2 {
  color: white;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

nav ul li {
  margin-left: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

/* Header */
header {
  text-align: center;
  padding: 80px 20px;
}

header h1 {
  font-size: 40px;
  color: #d63384;
}

/* Button */
button {
  padding: 10px 20px;
  border: none;
  background: #ff69b4; /* pink button */
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background: #ff1493;
}

/* Sections */
section {
  padding: 50px 20px;
  text-align: center;
}

/* Cards */
.card {
  background: #ffe4e1;
  padding: 20px;
  margin: 15px auto;
  width: 70%;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

/* Form */
form input, form textarea {
  display: block;
  width: 70%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ffb6c1;
}

footer {
  text-align: center;
  padding: 20px;
  background: #ffb6c1;
  color: white;
}
